@import './card-component.css';

/* 카드 레이아웃 */
.maincontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .ui-component {
    grid-column: span 2;
  }
  @media (width>=1024px) {
    .ui-component {
      grid-column: auto;
    }
    .column {
      grid-column: span 2;
    }
  }
}
